<ion-header translucent>
    <ion-toolbar>
        <div class="header-icons-container position-relative text-center">

            <ion-row>

                <ion-col size="9"> <span class="title" style="margin-left: 3%;">Indicazioni stradali</span></ion-col>
                <ion-col size="3">

                    <ion-icon (click)="closeModal()" src="../../assets/release1/chevron-down.svg" size="large">
                    </ion-icon>
                </ion-col>
            </ion-row>
        </div>
    </ion-toolbar>
</ion-header>



<ion-content fullscreen>

    <div class="row h-100">
        <div class="col-xs-12 col-sm-12 remaining-height">


            <div class="rest-container">
                <div class="all-history-items remaining-height">
                    <!--History Item Container Start-->
                    <div class="history-items-container history-items-padding ">

                        <div *ngFor="let path of start; let i = index;"
                            class="all-wide-container trip-history-driver-container">
                            <div style="    box-shadow: 18px 10px 20px #0000001a; border-bottom: 4px solid #3F7288;">
                                <ion-row>
                                    <span
                                        style="font-size: 18px;font-weight: bold; margin-left: 3%;">{{path.tags.name}}</span>
                                </ion-row>
                                <ion-row style="width:100%">
                                    <ion-item style="width:100%">
                                        <ion-thumbnail style="height:100%" slot="start">
                                            <img src="" alt="" />
                                        </ion-thumbnail>
                                        <ion-label style="
                    border-left: 3px solid rebeccapurple;
                    padding: 0 0 0 9%;">
                                            <span style="font-weight: bold;">{{path.name}}</span>
                                        </ion-label>
                                    </ion-item>
                                </ion-row>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>