<ion-grid class="gridSearch" id="gridSearch">
  <ion-row>
    <ion-searchbar mode="md" #searchbar showCancelButton="true" placeholder="Trova un luogo" [(ngModel)]="searchInput"
      (ionInput)="onSearchByKeyword($event)" (ionCancel)="onSearchByKeywordCancel($event)" debounce="300">
    </ion-searchbar>
  </ion-row>
  <div style="margin: 0 8px;">
    <ion-row nowrap class="rowSearch" *ngFor="let poi of start; let i = index;"
      [ngClass]="(i % 2 == 0) ? 'even' : 'odd'">
      <span class="spanSearch">
        <ion-col size="2">
          <img class="iconSearch" src="//maps.gstatic.com/mapfiles/maps_lite/images/2x/ic_location_gray_24dp.png"
            alt="" />
        </ion-col>
        <ion-col size="8" (click)="selectPOI(poi)">
          <span>{{poi | searchLabel}}</span>
        </ion-col>
        <ion-col size="2" (click)="selectPOI(poi)">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </span>
    </ion-row>
  </div>

</ion-grid>