<ion-grid class="gridSearch">
  <ion-row>
    <ion-col size="2">
      <div style="margin-top:15px; text-align: center">
        <ion-icon src="../assets/release1/Oval.svg" size="large"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <ion-searchbar mode="md" #searchbar showCancelButton="true" placeholder="Punto di partenza" [(ngModel)]="pointA"
        (ionInput)="onSearchByKeywordPuntoA($event)" (ionCancel)="onSearchByKeywordCancel($event)">
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <div style="margin-top:15px; text-align: center">
        <ion-icon src="../assets/release1/OvalBlack.svg" size="large"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <ion-searchbar mode="md" #searchbar showCancelButton="true" placeholder="Punto di arrivo" [(ngModel)]="pointB"
        (ionInput)="onSearchByKeywordPuntoB($event)" (ionCancel)="onSearchByKeywordCancel($event)">
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row nowrap class="rowSearch" *ngFor="let poi of startA; let i = index;"
    [ngClass]="(i % 2 == 0) ? 'even' : 'odd'">
    <span class="spanSearch">
      <ion-col size="2">
        <img class="iconSearch" src="//maps.gstatic.com/mapfiles/maps_lite/images/2x/ic_location_gray_24dp.png"
          alt="" />
      </ion-col>
      <ion-col size="8" (click)="selectPuntoA(poi)">
        <span>{{poi | searchLabel}}</span>
      </ion-col>
      <ion-col size="2" (click)="selectPuntoA(poi)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </span>
  </ion-row>
  <ion-row nowrap class="rowSearch" *ngFor="let poi of startB; let i = index;"
    [ngClass]="(i % 2 == 0) ? 'even' : 'odd'">
    <span class="spanSearch">
      <ion-col size="2">
        <img class="iconSearch" src="//maps.gstatic.com/mapfiles/maps_lite/images/2x/ic_location_gray_24dp.png"
          alt="" />
      </ion-col>
      <ion-col size="8" (click)="selectPuntoB(poi)">
        <span>{{poi | searchLabel}}</span>
      </ion-col>
      <ion-col size="2" (click)="selectPuntoB(poi)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </span>
  </ion-row>
</ion-grid>