.iconSearch{
    vertical-align: middle;
    
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin: auto;
}

.spanSearch{
    display: inherit;
    
    color: #212121;
    font-size: 14px;
    line-height: 20px;
    
    position: absolute;
    width: 100%;
    
}

.rowSearch{
    height: fit-content;
    position: relative;
    width: 100%;
    border-bottom: 0.5px solid lightslategrey;
    background: white;
    border-radius: 4px
}

.gridSearch{
    background: rgb(245,245,245);
    padding:0px;
    height: 100%;
}

.inputSearch{
    background: white;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.image_poi{
    height: 100%;
    width: 100%;
}
