<ion-content>
    <ion-grid class="gridMap" style="height: 100%;">
        <ion-row *ngIf="step==1" class="containerSearch">
            <ion-row class="rowSearch">
                <ion-col size="2">
                    <div style=" text-align: center">
                        <ion-icon src="../assets/release1/Oval.svg" size="large"></ion-icon>
                    </div>
                </ion-col>
                <ion-col style="height: 100%;">
                    <ion-input style="height: 100%;" class="inputSearch" clearInput [(ngModel)]="pointA.title"
                        (click)="onInputSearch('A')" placeholder="Trova un luogo">
                    </ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="rowSearch">
                <ion-col size="2">
                    <div style=" text-align: center">
                        <ion-icon src="../assets/release1/OvalBlack.svg" size="large"></ion-icon>
                    </div>
                </ion-col>
                <ion-col style="height: 100%;">
                    <ion-input style="height: 100%;" class="inputSearch" (click)="onInputSearch('B')" clearInput
                        [(ngModel)]="pointB.title" placeholder="Trova un luogo">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-row>
        <ion-row id="row-map-display" style="height: 80%;     ">
            <app-map-display style="width: 100%;" (navigate)="onNavigate($event)" (detail)="onDetail()"
                (contract)="onContract()" (location)="onPointSelectedA($event)" [pointOfInterest]="pointsOfInterest"
                [pathFilter]="pathFilter">
            </app-map-display>
        </ion-row>
        <ion-row *ngIf="step==2" style="height: 10%;" (click)="onAzioniRapide()">
            <ion-col style="width: 100%;
                font-size: 14px;
            height: 48px;
            padding: 12px 12px 56px;" size="10"> Tocca per visualizzare le azioni rapide</ion-col>
            <ion-col>
                <ion-icon src="../assets/release1/chevron-up.svg" size="large"></ion-icon>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>