<ion-tabs>

  <ion-tab-bar slot="bottom">

    
    <ion-tab-button tab="map" class="tab">
        <ion-icon name="compass" style="color: white"></ion-icon>
    </ion-tab-button>
    <!--
    <ion-tab-button tab="pathId" class="tab">
      <ion-icon name="compass" style="color: white"></ion-icon>
  </ion-tab-button>-->
    <ion-tab-button tab="home" class="tab">
        <img class="tab-img" src="/assets/bb/icon2-s.png" alt="" />
    </ion-tab-button>

    <ion-tab-button  class="tab">
      <ion-icon 
      (click)="goToPreferiti()" name="heart" style="color: white"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
