<!-- Footer Menu-->
<div id="footer-menu" class="footer-menu-5-icons footer-menu-style-1">
  <ion-tabs id="footer-menu" class="footer-menu-5-icons footer-menu-style-1">

    <ion-tab-bar slot="bottom" style="background-color: #2A4C5B;">


      <ion-tab-button tab="map" class="tab">
        <ion-icon name="compass" style="color: white"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="home" class="tab">
        <img class="tab-img" src="/assets/bb/icon2-s.png" alt="" />
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</div>