<div id="map-poi" class="map-poi"></div>

<ion-content>
    <ion-list>
      <div>
        <ion-card *ngFor="let poi of poisList" class="card">
            <ion-row>
                <ion-col size="2" class="path">
                    <img *ngIf="!poi.image" src="/assets/bb/icon3-m.png" alt="" />
                    <img *ngIf="poi.image" class="image_poi" src="{{poi.image}}" alt="" />
                    
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-text class="title">{{poi | label}}</ion-text> 
                  </ion-row>
                  <ion-row>
                    <ion-text  *ngIf="!poi.category" class="title">Tipologia</ion-text>
                  </ion-row>
                  <ion-row>
                      <ion-text  *ngIf="!poi.abstract" class="title">Abstract</ion-text>
                    </ion-row>
                  <ion-row>
                    <ion-text  *ngIf="!poi.category" class="title">{{poi.category}}</ion-text>
                  </ion-row>
                  <ion-row>
                      <ion-text  *ngIf="!poi.abstract" class="title">{{poi | abstract}}</ion-text>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
      </div>
    </ion-list>
  </ion-content>

  
  