<ion-header>
  <ion-toolbar>

    <div class="header-icons-container position-relative text-center">
      <span class="title">Crea il percorso</span>
    </div>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-grid class="gridMap" style="height: 100%;">
    <ion-row style="height: 88%;" id="row-map-display">

      <div id="map-pathId" style="
      width: 100%;" class="h-100"></div>

    </ion-row>
    <ion-row style="height: 12%;
      background-color: #3F7288;" (click)="onAzioniRapide()">

      <ion-col style="width: 100%;
              font-size: 14px;
          height: 48px;
          padding: 12px 12px 56px;" size="10"> Tocca per visualizzare i POIs vicino a te
      </ion-col>

      <ion-col size="2">
        <ion-icon style="width: 100%" src="../assets/release1/chevron-up.svg" size="large"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>