<ion-header style="box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75)">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-icon src="../assets/release1/Percorso.svg" style="width: 100%;" size="large"></ion-icon>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<div id="map-pathId" class="map-pathId"></div>

<ion-content >
  <ion-grid style="height: 100%">
    <ion-row *ngFor="let poi of start.list_nodes">
      <ion-col size="2">
        <ion-icon src="../assets/release1/museum.svg" style="width: 100%;" size="large"></ion-icon>
        
      </ion-col>
      <ion-col size="10">
        {{poi.tags.name}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="navigazioneAttiva" style="height: 100%">
      <ion-col size="12" style="text-align: center;">
          <ion-button  color="success" shape="round" (click)="startTracking()"
              style=" width: 60%;
                      position: relative;
                      top: 80%;">
              Start</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!navigazioneAttiva" style="height: 100%">
      <ion-col size="12" style="text-align: center;">
          <ion-button  color="success" shape="round" (click)="stopTracking()"
              style=" width: 60%;
                      position: relative;
                      top: 80%;">
              Stop</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

  