<div>

    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button (click)="closeModal()">Close</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
        <ion-grid style="
        font-size: 24px;
        text-align: center;">
            <ion-row>
                <ion-col>
                    <ion-label>
                        Confermi di voler avviare il percorso?
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row style="margin-top: 5%;">
                <ion-col size="6">
                    <ion-button (click)="closeModal()" color="warning" style=" width: 60%;">
                        No
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button (click)="navigateToTracking()" color="primary" style="width: 60%;">Si</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</div>