<ion-header translucent>
    <ion-toolbar>
        <ion-col style="width: 100%;
        font-size: 16px;
        font-weight: 500;
        font-weight: bold;
    padding: 12px 12px 56px;" size="10"> Indicazioni stradali</ion-col>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-row>
        <ion-col *ngFor="let path of paths">
            <ion-button id="walk" shape="round" [color]="path.color" (click)="filterFirstLevel(path.nome)">
                <ion-icon [name]="path.icon" size="large"></ion-icon>
            </ion-button>

        </ion-col>
    </ion-row>
    <ion-row *ngIf="optionsFilter">
        <ion-col *ngFor="let button of getEnabled()">
            <ion-button *ngIf="button.nome" [color]="button.color" [disabled]="button.spunta"
                (click)="setEnableButtonSecondLevel(button.nome)">
                <ion-icon [src]="button.icon"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-item *ngFor="let path of pathToDisplay; let i = index;" style="    width: 100%;">
        <ion-row>
            <ion-thumbnail slot="start">
                <img style="height:50px" src="../../{{path.icon}}" alt="" />
            </ion-thumbnail>
            <ion-label>
                <h3 style="font-weight: bold;">{{path.filter.nome}}</h3>
                <p>Durata</p>
                <h3 style="font-weight: bold;">{{path.duration | timeConverter}}</h3>
                <p>Durata</p>
                <h3 style="font-weight: bold;">{{path.distance | distanceConverter}}</h3>
            </ion-label>
        </ion-row>

        <ion-row>
            <ion-col style="font-size: xx-large; color: grey;" size="12">
                <ion-icon id="{{path.filter.valore}}" name="eye" (click)="showNavigate(path.filter)"></ion-icon>
            </ion-col>
            <ion-col style="font-size: xx-large; color: grey;" size="12">
                <ion-icon id="{{path.filter.valore}}" name="heart" (click)="openStorageModal(path.filter)">
                </ion-icon>
            </ion-col>
        </ion-row>

    </ion-item>
</ion-content>