<!--<ion-content>
    <ion-grid style="height: 100%;">
      <ion-row class="home-row">
        <ion-col class="home-col" (click)="setTypePAth()">
          <img  src="/assets/release1/creaPercorso.PNG" alt="" class="img-click" />
        </ion-col>
      </ion-row>
      <ion-row class="home-row">
        <ion-col size="6" (click)="goToPreferiti(2)" class="home-col">
          <img src="/assets/release1/percorsoBike.PNG" alt=""  class="img-click"/>
        </ion-col>
        <ion-col size="6" (click)="goToPreferiti(4)" class="home-col">
          <img src="/assets/release1/percorsoFitness.PNG" alt=""  class="img-click" />
        </ion-col>
      </ion-row>
      <ion-row class="home-row">
        <ion-col size="6" (click)="goToPreferiti(8)" class="home-col">
          <img src="/assets/release1/percorsoTuristico.PNG" alt=""  class="img-click"/>
        </ion-col>
        <ion-col size="6"  class="home-col">
          <img src="/assets/release1/eventi.PNG" alt="" class="img-click" />
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
-->
<!--
<ion-content style=" --offset-top: 0px;
--offset-bottom: 0px;
position: absolute;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
z-index: 0;
background-image: url(/assets/release1/9l.jpg);">
  <ion-grid style="height: 100%;">
    <img src="/assets/release1/9l.jpg" alt="" class="img-click" style="opacity: 0.1" />
    <ion-row>
      <div style="
      position: absolute;
      left: 0px;
      right: 0px;
      z-index: 2;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);">
        <h1 style="    font-weight: 900!important;    font-size: 3em;">RoutePlan</h1>
      </div>
    </ion-row>
    <ion-row style="
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 2;
    bottom: 0px;">

      <ion-button color="primary" hape="round" style="
      display: block;
      left: 50%;
      text-align: center;
      margin: auto auto 13%;" (click)="setTypePAth()">
        Get started</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>-->

<div class="main-background w-100 h-100">
  <input type="hidden" class="loading-logo  customer">
  <div (click)="setTypePAth()" class="d-flex h-100 justify-content-center align-items-center flex-column">
    <a class="loading-logo-margin"><img src="../../assets/release1/logo.png" alt="Main Logo"></a>
  </div>
</div>