<ion-content>
    <ion-grid style="height: 100%;">
      <ion-row class="home-row">
        <ion-col class="home-col" (click)="setTypePAth()">
          <img  src="/assets/release1/creaPercorso.PNG" alt="" class="img-click" />
        </ion-col>
      </ion-row>
      <ion-row class="home-row">
        <ion-col size="6" (click)="goToPreferiti()" class="home-col">
          <img src="/assets/release1/percorsoBike.PNG" alt=""  class="img-click"/>
        </ion-col>
        <ion-col size="6" (click)="goToPreferiti()" class="home-col">
          <img src="/assets/release1/percorsoFitness.PNG" alt=""  class="img-click" />
        </ion-col>
      </ion-row>
      <ion-row class="home-row">
        <ion-col size="6" (click)="goToPreferiti()" class="home-col">
          <img src="/assets/release1/percorsoTuristico.PNG" alt=""  class="img-click"/>
        </ion-col>
        <ion-col size="6" (click)="goToPoisView()" class="home-col">
          <img src="/assets/release1/eventi.PNG" alt="" class="img-click" />
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>